<!-- model RefugeesUnitedApi.ApiEntities.Profile -->
@model RefUnitedIVRPlatform.Web.Models.PinAccessViewModel

@{
  ViewBag.Title = "Setup PIN Access";
}

<h2>Setup PIN Access</h2>

@using (Html.BeginForm("SetupPINAccess", "Account", FormMethod.Post, new { }))
{
  @Html.AntiForgeryToken()
  @Html.HiddenFor(m => m.ProfileId)
  @Html.HiddenFor(m => m.DialCode)
  @Html.HiddenFor(m => m.CellPhoneNumber)
  @Html.HiddenFor(m => m.FullName)
  @Html.ValidationSummary(true)

  <table class="table table-bordered">
    <tr>
      <td>Cell Phone</td>
      <td>@Model.DialCode @Model.CellPhoneNumber</td>
    </tr>
    <tr>
      <td>PIN Number</td>
      <td>
        @Html.PasswordFor(m => m.PIN)
        @Html.ValidationMessageFor(m => m.PIN)
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
        <label class="radio">
          @Html.RadioButtonFor(m => m.Language, "en")
          English
        </label>
        <label class="radio">
          @Html.RadioButtonFor(m => m.Language, "es")
          Spanish
        </label>
        <label class="radio">
          @Html.RadioButtonFor(m => m.Language, "ar")
          Arabic
        </label>
        @Html.ValidationMessageFor(m => m.Language)
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <input type="submit" class="btn" value="Create PIN" />
      </td>
    </tr>
  </table>
}

@section Scripts {
  @Scripts.Render("~/bundles/jqueryval")
}