<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>@ViewBag.Title - My ASP.NET MVC Application</title>
  <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
  <meta name="viewport" content="width=device-width" />
  @Styles.Render("~/bundles/bootstrap")
  @Scripts.Render("~/bundles/modernizr")
</head>
<body>
  <div class="navbar">
    <div class="navbar-inner">
      <a class="brand" href="@Url.Action("Index", "Home")">Refugees United - IVR Platform</a>
    </div>
  </div>
  <div class="container">
    @RenderBody()
  </div>
  @Scripts.Render("~/bundles/jquery")
  @RenderSection("scripts", required: false)
</body>
</html>
